# User configuration

/digger.ini
/bisect.ini
/customization-state.json

# When workDir = .

/repo/
/build/
/current
/result
/cache/
/cache-git/
/temp-cache/
/bootstrap/
/dl/
/tmp/

# When workDir = ./work

/work/

# POSIX

/digger
/digger-web

# Windows

*.exe
*.pdb
*.ilk
*.exp
*.lib
*.suo

# Dub

/dub.selections.json
/digger_web
/.dub/
