; Copy this file to dsector.ini, and make the appropriate
; changes below.
; D-sector looks for dsector.ini in these locations, in order:
; current directory, EXE directory, source directory, and
; ~/.dsector/dsector.ini.

; Working directory.
; This directory will contain all of D-sector's working files:
; the D repositories, any build prerequisites obtained
; automatically, the current build output, and the cache, if
; enabled.
; Please specify an absolute path. The default is to use the
; current directory.

; workDir = C:\Temp\Dsector

; Build cache.
; To speed up successive runs, Dsector can save the results of
; each commit's build. The downside is that this uses a lot of
; disk space.

; cache = true
