html {
	font-family: "Trebuchet MS", sans-serif;
}

body {
	width: 760px;
	margin: 0 auto 36pt auto;
}

h1 {
	text-align: center;
	font-size: 36pt;
	margin: 36pt 0;
}

h2,h3,h4,h5,h6 {
	margin: 0;
}

#fragments {
	display: none;
}

#failing-box {
	float: right;
}

table {
	width: 100%;
	border-spacing: 0;
}

tr.bad {
	display: none;
}

td.status {
	width: 52pt;
}

.test {
	color: white;
	border-radius: 5px;
	text-align: center;
	padding: 2px;
	display: block;
	text-decoration: none;
	width: 52pt;
}

.test.success { background-color: #0a0; }
.test.failure { background-color: #a00; }
.test.unknown { background-color: #aaa; }

#buttons {
}

input[type=submit] {
	margin-top: 24pt;
	font-size: 24pt;
	width: 100%;
}

.log {
	font-family: "Consolas", monospace;
	white-space: pre-wrap;
	color: #444;

	max-height: 400pt;
	overflow-y: auto;
	word-wrap: break-word;
}

.log .error {
	color: black;
}

.section {
	padding: 0 0 16px 0;
}

.section-header {
	cursor: pointer;
}

.section-header img {
	margin-left:  0px;
	margin-right: 8px;
	vertical-align: middle;
	margin-top: -0.2em;
}

.section > div {
	margin: 16px 24px 0 24px;
}

#build-base table {
	width: auto;
}

#build-base td {
	padding-left: 8px;
}

#forks table {
	width: auto;
}
